<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Demo aplikace{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block footer %}
        <footer>
            <a href="{{ path('app_login') }}">Admin login</a>
        </footer>
        {% endblock %}
    </body>
</html>
